.funs-list{ width: 100%; height: auto; overflow: hidden; font-size: 12px; margin-top: 10px; }
.funs-list div{ width: 100%; height: 40px; line-height: 40px; background: #fff; margin: 5px 0;  padding: 0 3%; font-size: 14px;}
.funs-list div i:nth-child(1){ float: right; margin: 11px 5px 0 0; font-size: 18px; }