.qs-title{ text-align: center; height: 40px; font-size: 22px; line-height: 40px; background: #ff4507; color: #fff; }
.qs-box{ width: 92%; height: auto; overflow: hidden; border:2px solid #ff4507; border-radius: 5px; margin: 10px auto 0; padding: 20px; box-sizing: border-box; }
.qs-box .label{ width: 100%; height: auto; margin-bottom: 10px; font-size: 16px; }
.qs-box .label span:first-child{ margin-right: 20%; }
.qs-box .qs-content{ margin-top: 10px;  overflow: hidden; }
.qs-box .qs-content .content{ margin-bottom: 20px; font-size: 16px; width: 100%; height: auto; }
/*.qs-box .qs-content label{ display: block;  height: 40px; width: 100%; line-height: 40px; }
.qs-box .qs-content label input[type=radio]{ float: left; margin: 12px 5px 0 0; }*/
.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]{ left: 0; }
.mui-checkbox.mui-left label, .mui-radio.mui-left label{ padding-left: 38px; }
..mui-btn-block{ padding: 10px 0; }