.ui-page-login,
html,body{ min-height: 100%; }
img{ width: 100%; border: 0; } 
ul,li{ list-style: none; margin: 0; padding: 0; }
p,h1,h2,h3,h4,h5,h6,div { margin: 0; padding: 0; }
.mui-content{height: 100%;}
.flex{ display: flex !important; display: -webkit-flex !important; }
.flex-align{ align-items: center; -webkit-align-items: center; }
.flex-just{ justify-content: center; -webkit-justify-content: center; }
.empty-data{ width: 100%; min-height: 200px; height: auto; color: #333; font-size: 16px; display: flex; display: -webkit-flex; justify-content: center; -webkit-justify-content: center; align-content: center; -webkit-align-items: center; flex-direction: column; -webkit-flex-direction: column; }
.empty-data i{ font-size: 26px; }

.no-b-border{ border-bottom: none !important; }
.no-t-border{ border-top: none !important; }
.no-l-border{ border-left: none !important; }
.no-r-border{ border-right: none !important; }
.no-b{ border: none; }
